body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Asul', sans-serif;
}

html {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.panel {
  z-index: 5;
  height: 90%;
  width: 20%;
  background-color: #d8d8d8;
  position: absolute;
  padding: 5%;
}

li {
  cursor: pointer;
  list-style: none;
  line-height: 2em;
}

li:hover {
  background-color: #b5b4b4;
  font-size: 20px;
  padding: 5px;
}

@media only screen and (max-width: 970px){
  .panel {
    width: 100%;
    height: auto;
    position: inherit;
  }
}
